.line-separator{
height:1px;
background:#717171;
border-bottom:1px solid #313030;
}
.page-section{
	font-weight:bold;
}
.page-section-sub{
	font-style:italic;
}

body {
    background-color: #b0c4de;
}
